/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

header .logo {
    font-size: 2rem;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    margin-left: 1rem;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}
header nav ul li a:hover {
    background-color: #e63946;
    padding: 10px;
    border-radius: 205px;
    color: white;
}

.hero {
    color: #fff;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-content {
    max-width: 600px;
}

.hero h2 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

.hero p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.btn {
    background: #e63946;
    color: #fff;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 5px;
}

footer {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

footer .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

footer ul {
    list-style: none;
    padding: 0;
    margin-bottom: 1rem;
}

footer ul li {
    display: inline;
    margin: 0 0.5rem;
}

footer ul li a {
    color: #fff;
    text-decoration: none;
}

footer .social-media a {
    color: #fff;
    text-decoration: none;
    margin: 0 0.5rem;
}

.contact .form-control {
    margin-bottom: 1rem;
}
